body{
    text-align: center;
    background-color: black;

}
main{
    margin: 4%;
    display: flex;
    gap: 20px;
}
.list{
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(65, 64, 64);

}
.item{
    margin: 8px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: black;
    color: white;
}
.item:hover, .item:active{
    cursor: cell;

    border: 3px solid blue;
     
}
.item:active{
    animation: hide .1s forwards;
}
@keyframes hide {
    100% {
        opacity: .1;
    }
    
}

button{
    background-color: black;
    color: white;
    border-radius: 10px;
    
}
button:hover{
    transform: scale(1.1);
    cursor: pointer;

    
}
input{
    border-radius: 10px;
}