body{
    text-align: center;
    background-color: black;

}
main{
    margin: 4%;
    display: flex;
    gap: 20px;
}
.list{
    width: 200px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: grey;

}
.item{
    margin: 8px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}
.item:hover{
    cursor: pointer;
}
main .item:active{
    border: 1px solid purple;
    
}