{% extends 'base.html' %}

{% block title %}
    lobby
{% endblock %}

{% block content %}
    <audio controls autoplay>
        <source src="static/music/song.mp3" type="audio/mpeg">
    </audio>
  
    <section>this page is a good place to meat other people and try out a demo of some of my other sites </section>
    
    <div class="users">
        {% for user in users %}
            <div class="user">
                <h1>{{user}}</h1>
            </div>
        {% endfor %}
    </div>
{% endblock %}