{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="accountForm.css">
{% endblock %}

{% block title %}
    login
{% endblock %}

{% block content %}
    <form action="/login" method="post">
        <label for="username">username</label>
        <br>
        <input type="text" name="username" placeholder="jim">
        <br>
        <label for="password">password</label>
        <br>
        <input type="password" name="password" placeholder="*****">
        <br>
        <button type="submit">login</button>
    </form>
{% endblock %}