<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>drag and drop</title>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.min.js"></script>
      <script src="https://unpkg.com/react@17/umd/react.development.js"></script>
      <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>
      <script type="text/babel" src="static/main.jsx" defer>
      </script>
     <link rel="stylesheet" href="static/main.css">
     <link rel="stylesheet" href="static/nav.css">
</head>
<body>
    <nav>
        <a href="/home"><p>home</p></a>
        <a href="/signup"><p>signup</p></a>
        <a href="/login"><p>login</p></a>
        <a href="/logout"><p>logout</p></a>
        <a href="/reset"><p>reset</p></a>
        <a href="/"><p>board</p></a>
    </nav>
    <form class="color-picker">
        <input type="color" id="backGroundcolorPicker">
        <button type="submit" onclick="changeBackgroundColor(event)">change background color</button>
    </form>
    {% if username %}
       <h1>user: {{username}}</h1>
       {% else %}
       <p>you are not logged in right now, do you wanna <a href="/signup">create an account</a> to save your progress, or <a href="/login">login</a> to load saved progress</p>
    {% endif %}
    <div id="root"></div>
</body>
</html>